body{
    background-color:rgb(39, 35, 35);
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


}

/* INDEX */
.container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(39, 35, 35)!important;
   
}
.card{
    border:rgb(39, 35, 35);
}

.container .card{
    position: relative;
    max-width: 450px;
    background: rgb(39, 35, 35);
    margin: 10px;
    padding: 15px;
    display: flex;
}
.container .card .imgBx {
    max-width: 300px;
    flex: 0 0 150px;
}
.container .card .imgBx img{
    max-width: 100%;
}
.container .card .content{
    margin-left: 10px;
}

/* Portfolio */
.container .card .imgBx2 {
    max-width: 150px;
    
}
.container .card .imgBx2 img{
    max-width: 100%;
}
h2 {
    color: white;
}
p{
    color: white;
}



.btn:hover{
    color: steelblue;
    background-color: blanchedalmond;
}
.navbar-brand{
    font-family: 'Bungee Shade', cursive;
    margin-right: 50%;
    color: whitesmoke;
}
.bg-light{
    background-color: grey!important; 
} 
.navbar-light .navbar-brand {
    color: rgb(66, 68, 70);
    }
    .navbar-light{
        font-family: 'Courier New', Courier, monospace!important;
        }

.navbar-brand{
    margin:0;
   justify-content: right;
   text-align: right;
}
/* 
Starts the inside of the body:
*/

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    text-align: center;
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    }
.intro {
    margin: 10%;
    padding: auto;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: whitesmoke;
}

.bio{
    margin: 50px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;  
}

.btn {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: slategray;
    border-color: black;
    margin: 15px;
 
}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
    }

       
   
    }
