body{
    background-color:rgb(39, 35, 35);
}

a{
    color: whitesmoke;
}

a:hover{
    color: steelblue;

}
.btn:hover{
    color: steelblue;
    background-color: blanchedalmond;
}
.title{
    text-align: left;
    justify-content: center;
    font-family: 'Courier Prime', monospace;
    color: whitesmoke;
}

.intro {
    margin: 10%;
    padding: auto;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: whitesmoke;
}

.bio{
    margin: 50px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;  
}

.btn {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    background-color: slategray;
    border-color: black;
}

.SS{
    top: 0;
    left: 50%;
    width: auto;
    height: 450px;
    border-style: ridge;
    border-color:grey;
    padding: 10px;
    margin: 15px;
}

@media screen and (max-width:480px){
    .wrapper {
      width: 500px;
    }
    .SS{
        top: 0;
        left: 100%;
        height: 450px;
        border-style: ridge;
        border-color:grey;
        padding: 20px;
        margin: 100px;
        align-items: center;
        justify-content: center;
    
    }

   
}
